body {
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.header {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__logo {
  box-sizing: border-box;
  align-items: center;
  margin: 0 0 0 50px;
  padding: 0;
  text-decoration: none;
  display: flex;
}

.nav {
  box-sizing: border-box;
  margin: 0 50px 0 0;
  padding: 0;
}

.nav__list {
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.nav__link {
  box-sizing: border-box;
  text-transform: uppercase;
  color: #060b35;
  text-align: center;
  align-items: center;
  height: 60px;
  font-size: 12px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.is-active {
  box-sizing: border-box;
  color: #00acdc;
  margin: 0;
  padding: 0;
  position: relative;
}

.is-active:after {
  content: "";
  background: #00acdc;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav__link:hover {
  color: #00acdc;
}

.cards {
  --column-count: 1;
  grid-template-columns: repeat(var(--column-count), 200px);
  justify-content: center;
  gap: 46px 48px;
  padding: 50px 40px;
  display: grid;
}

@media (width >= 488px) {
  .cards {
    --column-count: 2;
  }
}

@media (width >= 768px) {
  .cards {
    --column-count: 3;
  }
}

@media (width >= 1024px) {
  .cards {
    --column-count: 4;
  }
}

.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  flex-direction: column;
  align-items: center;
  width: 200px;
  transition: all .3s;
  display: flex;
}

.card:hover {
  z-index: 1;
  transform: scale(1.2);
}

.card:hover__product-title {
  color: #34568b;
}

.card__logo {
  box-sizing: border-box;
  width: 160px;
  height: 134px;
  margin: 32px 19px 40px;
}

.card__logo-image {
  width: 100%;
  height: 100%;
}

.card__link {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0%;
  background-color: #00acdc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  margin: 16px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.card__link:hover {
  box-sizing: border-box;
  color: #00acdc;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #00acdc;
}

.card__product-info {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.card__product-title {
  letter-spacing: 0%;
  color: #060b35;
  margin: 0 0 0 16px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  transition: all .3s;
}

.card__product-code {
  letter-spacing: 0%;
  color: #616070;
  margin: 4px 0 0 16px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card__product-rating {
  margin: 16px 0 0;
  justify-content: space-between;
  align-items: center;
  height: 16px;
  margin-inline: 16px;
  display: flex;
}

.card__product-reviews {
  letter-spacing: 0%;
  color: #060b35;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card__product-price {
  margin: 0;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  margin-inline: 16px;
  display: flex;
}

.card__product-price-text {
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #616070;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.card__product-price-amount {
  letter-spacing: 0%;
  text-align: right;
  vertical-align: bottom;
  color: #060b35;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars--n .stars__star:nth-child(-n+1), .stars--n .stars__star:nth-child(-n+2), .stars--n .stars__star:nth-child(-n+3), .stars--n .stars__star:nth-child(-n+4), .stars--n .stars__star:nth-child(-n+5) {
  background-image: url("star-active.2be54011.svg");
}
/*# sourceMappingURL=index.e378193d.css.map */
